.time-behind {
    text-align: right;
}

table td,th {
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

tr.team-result-changeover {
    background-color: #f9f9f9;
    font-weight: bold;
}