{{> display_header }}

<ul class="list-group">
{{#races}}
<li class="list-group-item"><a href="/emmanh/display.php/{{tavid}}/list">{{compName}} ({{tavid}})</a></li>
{{/races}}
</ul>

{{> display_footer }}
