
<ul>
{{#config}}
{{#classes}}
<li><a href="{{base}}/{{raceId}}/{{.}}">{{.}}</a></li>
{{/classes}}
{{/config}}
</ul>

<!-- //netdna.bootstrapcdn.com/bootstrap/3.1.1 -->

<script src="/emmanh/js/bootstrap.min.js"></script>
</body>
